ul{
    list-style: none;
    padding-left: 5px;
}
.list{
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(223, 232, 248);
    border-radius: 10px;
    
}
.list img{
    border-radius: 60px;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.fa-check{
    padding-top: 14%;
    padding-left: 5px;
    color: steelblue;
}