.team-setup{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: whitesmoke;
}
.ninja-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-right: 2px dotted gray;
    margin-left: 20px;
}

.core-team{
text-align: center;
/* margin-left: 10px; */
}